/** 
 * @file
 * Style sheet for IndexPage module.
 */

/*.indexpage_results .item-list ul li {
  list-style-type: none;
  background: transparent;
  margin-left: 0;
}*/

.indexpage_results .center {
  text-align: center;
}

.indexpage-node-index a {
  font-size: 115%;
  font-weight: bold;
}

.indexpage_results td {
  vertical-align: top;
}

.indexpage_term_list li {
  list-style-type: none !important;
  list-style-image: none !important;
  background: url() !important;
  margin: 0 0 0 1em;
}

.indexpage_category .description {
  font-style: italic;
}

#indexpage-admin-settings .form-radios .form-item {
  float: left;
  margin-right: 2em;
  font-weight: normal;
}

#indexpage-admin-settings .form-checkboxes .form-item {
  float: left;
  width: 19%;
  font-weight: normal;
}

.indexpage-checkboxes .description, .indexpage-radios .description {
  clear: both;
}
